$colors: (
  bgColor: #ffffff,
  primary: #fed593,
  secondary: #233a67,
);
$padding: 10px;
$padding-large: 30px;
$margin: 8px;
$margin-large: 15px;
$radius: 60px;

@function color($color-name) {
  @return map-get($colors, $color-name);
}
* {
  margin: 0px;
  padding: 0px;
}
body,
html {
  height: 100%;
  width: auto;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 10%;

  .bg {
    background: url(/img/Home/Background1.png) center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.1;
  }
  button {
    border: none;
    border-radius: $radius;
    background: color(primary);
    width: 130px;
    padding: $padding;
    font-size: 0.83rem;
    margin: $margin;
    font-weight: bold;

    a {
      text-decoration: none;
      color: color(secondary);
      padding: $padding;
      border-radius: $radius;
    }
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: $padding-large;
    padding-right: $padding-large;
    background: linear-gradient(
      90.13deg,
      #233a67 23.7%,
      rgba(35, 58, 103, 0.621164) 42.11%,
      rgba(35, 58, 103, 0) 102.21%
    );

    img {
      height: 8vh;
    }
  }
  section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: $padding-large;
    .illustration {
      // width: 100%;
      img {
        width: 100%;
        height: auto;
      }
    }

    .hero {
      display: flex;
      flex-direction: column;
      padding: $padding-large;
    }

    .content {
      border-radius: $radius;
      border: color(primary) 10px solid;
      text-align: justify;
      background: color(bgColor);
      padding: $padding-large;
    }
    h1 {
      font-weight: 800;
      font-size: 4.5rem;
      text-align: center;
    }
    p {
      font-size: 1.25rem;
    }
  }
  footer {
    display: flex;
    .copyrights{
      position: relative;
      left: 15vw;
      border-top: 1.5px solid color(secondary);
      width: 70%;
      text-align: center;
      font-size: 1rem;
      justify-content:center;
      align-items: center;
  
    }
  
  }
}
